@import 'lib/bootstrap/dist/css/bootstrap.min.css';


body {
  font-family: 'Muli', sans-serif;
  height: 100%
}

h1 {
  color: #fff;
  padding-bottom: 2rem;
  font-weight: bold;
}

a {
  color: #333;
}

.custom-card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

a:hover {
  color: #E8D426;
  text-decoration: none;
}

.custom-card-header {
  width: 100%;
  background-color: #28a745;
  padding: 0.5rem;
  color: aliceblue;
  font-weight: bolder;
  padding-left: 1.5rem;
  line-height: 20px;
}

.form {
  background-color: #28a745;
}

.form-control:focus {
  color: #000;
  background-color: #fff;
  border: 2px solid #E8D426;
  outline: 0;
  box-shadow: none;
}

.btn {
  background: #28a745;
  border: #E8D426;
}

.btn:hover {
  background: #28a745;
  border: #E8D426;
}

#custom-search-input {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input {
  border: 0;
  box-shadow: none;
}

#custom-search-input button {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search {
  font-size: 23px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin: 1.5rem;
}

.form-control {
  border-radius: 5px;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 3px;
}

.btn-danger {
  background-color: #dc3545;
  float: right;
  margin: 2rem;
}

.btn-danger:hover {
  background-color: #dc3545;
}

.list-group :hover {
  cursor: pointer;
}

.selected {
  background-color: lightgrey;
}

.soon {
  margin-top: 20%;
}

ul.list-group.list-group-striped li:nth-of-type(odd){
  background: rgb(246, 246, 248);
}